<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true" rendered="#{LoginView.userType == 'suplier'}">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Gerir Stock" outcome="providerIndex" icon="ui-icon-wrench" />
                            <p:menuitem value="Adicionar Produto" outcome="addProduct" icon="ui-icon-circle-plus" />
                            <p:menuitem value="Listar Vendas" outcome="viewSales" icon="ui-icon-clipboard" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>>
                            </f:facet>
                        </p:menubar>
                    </h:form>

                    <h:form>
                        <p:panel header="Adicionar Novo Produto" style="width: 360px;">
                            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                                <h:outputText value="Nome do Produto:" />
                                <p:inputText binding="#{pname}"/>
                                <h:outputText value="Preço:" />
                                <p:inputText binding="#{price}"/>
                                <h:outputText value="Descrição:" />
                                <p:inputTextarea completeMethod="#{ProductView.completeArea}" rows="6" cols="33" />
                                <h:outputText value="URL de Imagem:" />
                                <p:inputText binding="#{url}" />
                                <h:outputText value="Categoria:" />
                                <p:selectOneMenu id="category" value="#{ProductView.registProdCategory}" style="width:125px">
                                    <f:selectItem itemLabel="Selecione" itemValue="" />
                                    <f:selectItem itemLabel="Eletrodomésticos" itemValue="Eletrodomésticos" />
                                    <f:selectItem itemLabel="Telemóveis e Acessórios" itemValue="Telemóveis e Acessórios" />
                                    <f:selectItem itemLabel="Imagem e Som" itemValue="Imagem e Som" />
                                    <f:selectItem itemLabel="Brinquedos e Videojogos" itemValue="Brinquedos e Videojogos" />
                                    <f:selectItem itemLabel="Desporto e Lazer" itemValue="Desporto e Lazer" />
                                    <f:selectItem itemLabel="Moda e Acessórios" itemValue="Moda e Acessórios" />
                                    <f:selectItem itemLabel="Saúde e Beleza" itemValue="Saúde e Beleza" />
                                    <f:selectItem itemLabel="Auto e Moto" itemValue="Auto e Moto" />
                                    <f:selectItem itemLabel="Casa e Decoração" itemValue="Casa e Decoração" />
                                    <f:selectItem itemLabel="Escritório e Mobiliário" itemValue="Escritório e Mobiliário" />
                                    <f:selectItem itemLabel="Gastronomia e Vinhos" itemValue="Gastronomia e Vinhos" />
                                    <f:selectItem itemLabel="Livros" itemValue="Livros" />
                                </p:selectOneMenu>
                                <h:commandButton value="Adicionar" type="button" onclick="PF('dlg2').show();" ></h:commandButton>
                                <p:dialog header="Tem a certeza?" widgetVar="dlg2" height="150">
                                    <h:outputText value="Adicionar produto?" />
                                    <p:commandButton value="Sim" onclick="PF('dlg2').close();" action="#{ProductView.registProduct(pname.value, price.value, url.value)}"></p:commandButton>
                                    <p:commandButton value="Não" onclick="PF('dlg2').close();"></p:commandButton>
                                </p:dialog>
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
