<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>General Store</title>
                <link rel="stylesheet" href="resources/css/stylesheet.css"/>
            </f:facet>
        </h:head>

        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="true" collapsible="true">
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>
                    <h:form id="sticky">
                        <p:menubar rendered="#{LoginView.userLoggedIn}">
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home"/>
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" rendered="#{LoginView.userType == 'client'}"/>
                            <p:menuitem value="Gerir Stock" outcome="providerIndex" icon="ui-icon-wrench" rendered="#{LoginView.userType == 'suplier'}"/>
                            <p:menuitem value="Adicionar Produto" outcome="addProduct" icon="ui-icon-circle-plus" rendered="#{LoginView.userType == 'suplier'}"/>
                            <p:menuitem value="Listar Vendas" outcome="viewSales" icon="ui-icon-clipboard" rendered="#{LoginView.userType == 'suplier'}"/>
                            <p:menuitem value="Gerir Stock" outcome="manageStock" icon="ui-icon-wrench" rendered="#{LoginView.userType == 'manager'}" />
                            <p:menuitem value="Gerir Clientes" outcome="manageClients" icon="ui-icon-circle-plus" rendered="#{LoginView.userType == 'manager'}" />
                            <p:menuitem value="Gerir Fornecedores" outcome="manageProviders" icon="ui-icon-clipboard" rendered="#{LoginView.userType == 'manager'}" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart" rendered="#{LoginView.userType == 'client'}"/>
                            </f:facet>
                        </p:menubar>
                        <p:menubar rendered="#{!LoginView.userLoggedIn}">
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home"/>
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart"/>
                            </f:facet>
                        </p:menubar>
                    </h:form> 
                    <img src="http://www.amanacolonies.com/wp-content/uploads/2000/01/IMG_0202-1024x683.jpg" width="100%"/>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

