<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" />
                            <f:facet name="options">
                                <p:inputText id="prodname" binding="#{prodname}" placeholder="Search"/>
                                <p:commandButton ajax="false" update="prodgrid" icon="ui-icon-search">
                                    <f:setPropertyActionListener value="#{prodname.value}" target="#{ProductView.productName}" /> 
                                </p:commandButton> 
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>

                    <h:form>
                        <p:dataTable id="basicDT" var="forn" >
                        <f:facet name="header">
                            Fornecedores
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="1"/>
                        </p:column>
                        <p:column headerText="Nome">
                            <h:outputText value="Sr. Jeremias"/>
                        </p:column>
                        <p:column headerText="Mais info">
                            <h:outputText value="Forneço cenas"/>
                        </p:column>
                        <p:column style="width:32px;text-align: center">
                            <p:commandButton update="basicDT" icon="ui-icon-closethick">
                            </p:commandButton>
                        </p:column>
                        </p:dataTable>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
