<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag"/>
                            <f:facet name="options">
                                <p:inputText id="prodname" binding="#{prodname}" placeholder="Search"/>
                                <p:commandButton ajax="false" update="prodgrid" icon="ui-icon-search">
                                    <f:setPropertyActionListener value="#{prodname.value}" target="#{ProductView.productName}" /> 
                                </p:commandButton> 
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>
                    <h:form>
                        <p:selectOneMenu id="category" value="#{ProductView.category}" style="width:125px">
                            <f:selectItem itemLabel="Todos" itemValue="Todos" />
                            <f:selectItem itemLabel="Eletrodomésticos" itemValue="Eletrodomésticos" />
                            <f:selectItem itemLabel="Telemóveis e Acessórios" itemValue="Telemóveis e Acessórios" />
                            <f:selectItem itemLabel="Imagem e Som" itemValue="Imagem e Som" />
                            <f:selectItem itemLabel="Brinquedos e Videojogos" itemValue="Brinquedos e Videojogos" />
                            <f:selectItem itemLabel="Desporto e Lazer" itemValue="Desporto e Lazer" />
                            <f:selectItem itemLabel="Moda e Acessórios" itemValue="Moda e Acessórios" />
                            <f:selectItem itemLabel="Saúde e Beleza" itemValue="Saúde e Beleza" />
                            <f:selectItem itemLabel="Auto e Moto" itemValue="Auto e Moto" />
                            <f:selectItem itemLabel="Casa e Decoração" itemValue="Casa e Decoração" />
                            <f:selectItem itemLabel="Escritório e Mobiliário" itemValue="Escritório e Mobiliário" />
                            <f:selectItem itemLabel="Gastronomia e Vinhos" itemValue="Gastronomia e Vinhos" />
                            <f:selectItem itemLabel="Livros" itemValue="Livros" />
                        </p:selectOneMenu>
                        <p:commandButton value="Filtrar" update="prodgrid"/>
                        <p:commandButton value="Atualizar produtos" update="prodgrid"/>
                    </h:form>

                    
                    
                    <p:dataGrid 
                        var="product" value="#{ProductView.products}" columns="3" layout="grid"
                        rows="15" paginator="true" id="prodgrid"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                        styleClass="ui-datagrid-style">
                        <p:panel header="#{product.name}" style="text-align:center">
                            <h:panelGrid columns="1" style="width:100%">
                                <img src="#{product.imageUrl}" style="height: 225px"/>
                                <h6>preço: #{product.price}€</h6>

                                <p:commandLink action="/productDetail.xhtml" target="_blank">
                                    Detalhes
                                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                                    <f:setPropertyActionListener value="#{product}" target="#{ProductView.selectedProduct}" /> 
                                </p:commandLink>
                            </h:panelGrid>
                        </p:panel>
                    </p:dataGrid>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>