<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <link rel="stylesheet" type="text/css" href="resources/css/stylesheet.css"/>
                <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
                <script type="text/javascript" src="resources/js/dropDwon.js"></script>
                <title>GeneralStore</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="auto" resizable="false" closable="true" collapsible="true">
                    <div align="middle" id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>
                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="auto" closable="true" collapsible="true">
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>

                <p:layoutUnit position="west" resizable="true" size="325" minSize="40" maxSize="325">
                    <img src="#{ProductView.selectedProduct.imageUrl}"/>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <f:facet name="header">
                        Informações
                    </f:facet>
                    <div id="productDetailDiv" style="margin-bottom: 25px">
                        <h4 id="productName">#{ProductView.selectedProduct.name}</h4>
                        <h6 id="productSupplier">#{ProductView.providers}</h6>
                        <h6 id="productDescription">#{ProductView.selectedProduct.description} </h6>
                        <h4 id="productPrice"> <i class="fa fa-eur" aria-hidden="true"></i>#{ProductView.selectedProduct.price} </h4>

                    </div>
                </p:layoutUnit>
                <p:layoutUnit position="east" resizable="true" size="300" minSize="40" maxSize="325" rendered="#{LoginView.userLoggedIn}">
                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true" rendered="#{LoginView.userType == 'client'}"></i>
                    <h:form rendered="#{LoginView.userType == 'client'}">

                        <h:outputText value="Qtd: " />
                        <h:outputText id="output" value="#{counterView.number}" />
                        <br/>
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <p:commandButton value="Adicionar" icon="fa fa-plus-square" actionListener="#{counterView.increment}" update="output" />
                        <br/>
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                        <p:commandButton value="Retirar" icon="fa fa-minus-square" actionListener="#{counterView.decrement}" update="output" />
                        <p:commandButton value="Colocar no carrinho" action="#{shoppingCarView.addToCar(ProductView.selectedProduct, counterView.number)}"  />


                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

