<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true" rendered="#{LoginView.userType == 'suplier'}">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Gerir Stock" outcome="manageStock" icon="ui-icon-wrench" />
                            <p:menuitem value="Adicionar Produto" outcome="addProduct" icon="ui-icon-circle-plus" />
                            <p:menuitem value="Listar Vendas" outcome="viewSales" icon="ui-icon-clipboard" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>
                    <h:form>
                        <p:selectOneMenu id="category" value="#{ProductView.category}" style="width:125px">
                            <f:selectItem itemLabel="Todos" itemValue="Todos" />
                            <f:selectItem itemLabel="Eletrodomésticos" itemValue="Eletrodomésticos" />
                            <f:selectItem itemLabel="Telemóveis e Acessórios" itemValue="Telemóveis e Acessórios" />
                            <f:selectItem itemLabel="Imagem e Som" itemValue="Imagem e Som" />
                            <f:selectItem itemLabel="Brinquedos e Videojogos" itemValue="Brinquedos e Videojogos" />
                            <f:selectItem itemLabel="Desporto e Lazer" itemValue="Desporto e Lazer" />
                            <f:selectItem itemLabel="Moda e Acessórios" itemValue="Moda e Acessórios" />
                            <f:selectItem itemLabel="Saúde e Beleza" itemValue="Saúde e Beleza" />
                            <f:selectItem itemLabel="Auto e Moto" itemValue="Auto e Moto" />
                            <f:selectItem itemLabel="Casa e Decoração" itemValue="Casa e Decoração" />
                            <f:selectItem itemLabel="Escritório e Mobiliário" itemValue="Escritório e Mobiliário" />
                            <f:selectItem itemLabel="Gastronomia e Vinhos" itemValue="Gastronomia e Vinhos" />
                            <f:selectItem itemLabel="Livros" itemValue="Livros" />
                        </p:selectOneMenu>
                        <p:commandButton value="Filtrar" update="prodList"/>
                        <p:commandButton value="Atualizar produtos" update="prodList"/>
                    </h:form>


                    <p:dataTable id="prodList" var="prod" value="#{ProductView.loggedProviderProducts}" editable="false" style="margin-bottom:20px">
                        <f:facet name="header">
                            Gerir Produtos
                        </f:facet>

                        <p:column headerText="Id">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.productId}" /></f:facet>
                                <f:facet name="input"><p:inputText id="modelInput" value="#{prod.productId}" style="width:100%"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Nome">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.name}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{prod.name}" style="width:100%" label="Nome"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Categoria">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.category}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{prod.category}" style="width:100%" label="Descrição"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Descrição">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.description}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{prod.description}" style="width:100%" label="Descrição"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Imagem">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.imageUrl}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{prod.imageUrl}" style="width:100%" label="Imagem"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Preço">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{prod.price}" /></f:facet>
                                <f:facet name="input"><p:inputText value="#{prod.price}" style="width:100%" label="Preço"/></f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column style="width:200px">
                            <h:form>
                                <p:commandButton value="Editar" action="#{ProductView.editProdProv(prod.productId)}" update="prodList"/>
                                <p:commandButton value="Eliminar" action="#{ProductView.removeProdFromProv(prod.productId)}" update="prodList"/>
                            </h:form>
                        </p:column>
                    </p:dataTable>


                    <!--<div style="height: 200px; width: 200px; background-color: gainsboro; align-content: center; padding: 30px; margin-top: 10px; align-items: center">
                        <img src="resources/imgs/cachoFresco.jpg" height="140px"/>
                        <h3>Vinho Cacho Fresco</h3>
                        <p>1.50€</p>
                        <p:button outcome="productDetail" icon="ui-icon ui-icon-search" value="Ver Produto" style="margin:0 auto;"
                                  title="Icon Only">
                        </p:button>

                    </div>-->
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
