<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" />
                            <p:menuitem value="Gerir Stock" outcome="manageStock" icon="ui-icon-wrench" />
                            <p:menuitem value="Adicionar Produto" outcome="addProduct" icon="ui-icon-circle-plus" />
                            <p:menuitem value="Listar Vendas" outcome="viewSales" icon="ui-icon-clipboard" />
                            <f:facet name="options">
                                <p:inputText id="prodname" binding="#{prodname}" placeholder="Search"/>
                                <p:commandButton ajax="false" update="prodgrid" icon="ui-icon-search">
                                    <f:setPropertyActionListener value="#{prodname.value}" target="#{ProductView.productName}" /> 
                                </p:commandButton> 
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>

                    <h:form id="logonForm">


                        <p:growl id="msg" showDetail="true" life="3000" />
                        <p:panel header="Registar" style="width: 360px;">

                            <h:panelGrid id="logonPanel" columns="2">

                                <h:outputText value="Username: " />

                                <p:inputText id="username" binding="#{name}" ></p:inputText>

                                <p:spacer></p:spacer>

                                <p:message for="username" ></p:message>

                                <h:outputText value="Password: " />

                                <p:password id="password" binding="#{pass}"></p:password>

                                <p:spacer></p:spacer>

                                <p:message for="password"></p:message>

                                <h:outputText value="Repita a Password: " />

                                <p:password id="repeatPassword" binding="#{reppass}" ></p:password>

                                <p:spacer></p:spacer>

                                <p:message for="repeatPassword"></p:message>

                                <h:outputText value="E-Mail: " />

                                <p:inputText id="email" binding="#{email}" ></p:inputText>

                                <p:spacer></p:spacer>

                                <p:message for="email"></p:message>
                                
                                <h:outputText value="Adress: " />

                                <p:inputText id="adress" binding="#{address}" ></p:inputText>
                                

                                <h:outputText value="SSN: " />

                                <p:inputText id="ssn" binding="#{ssn}" ></p:inputText>

                                <p:spacer></p:spacer>
                                <p:selectOneRadio id="console" value="#{UserView.userType}" required="true">
                                    <f:selectItem itemLabel="Cliente" itemValue="Cliente" />
                                    <f:selectItem itemLabel="Fornecedor" itemValue="Fornecedor" />
                                </p:selectOneRadio>
                                <p:commandButton value="Finalizar" update="logonForm" type="button" onclick="PF('dlg2').show();" ></p:commandButton>
                                <p:dialog header="Tem a certeza?" widgetVar="dlg2" height="150">
                                    <h:outputText value="Criar Conta?" />
                                    <p:commandButton value="Sim" onclick="PF('dlg2').close();" action="#{UserView.registUser(name.value, pass.value, reppass.value, email.value,address.value ,ssn.value)}"></p:commandButton>
                                    <p:commandButton value="Não" onclick="PF('dlg2').close();"></p:commandButton>
                                </p:dialog>
                            </h:panelGrid>

                        </p:panel>

                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

