<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true" rendered="#{LoginView.userType == 'client'}">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Catálogo" outcome="listProducts" icon="ui-icon-tag" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                                <p:button outcome="#{LoginView.goToCart()}" icon="ui-icon-cart"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>
                    <h:form>
                        <p:dataTable id="basicDT" var="prod" value="#{shoppingCarView.car.products}">
                            <f:facet name="header">
                                Carrinho de Compras
                            </f:facet>
                            <p:column headerText="Produto">
                                <h:outputText value="#{prod.name}" />
                            </p:column>
                            <p:column>
                                <img src="#{prod.imageUrl}" height="50px"/>
                            </p:column>
                            <p:column headerText="Preço">
                                <h:outputText value="#{prod.price}" />
                            </p:column>
                            <p:column style="width:32px;text-align: center">
                                <p:commandButton update="basicDT" action="#{shoppingCarView.car.removeProduct(prod)}" icon="ui-icon-closethick">
                                </p:commandButton>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton value="Realizar Compra" action="#{shoppingCarView.completeSale()}"/>
                                <p:commandButton value="Limpar Carrinho" type="button" onclick="PF('dlg2').show();" />
                                <p:dialog header="Tem a certeza?" widgetVar="dlg2" height="150">
                                    <h:outputText value="Limpar carrinho?" />
                                    <p:commandButton update="basicDT" value="Sim"  action="#{shoppingCarView.car.clearProducts()}"></p:commandButton>
                                    <p:commandButton value="Não" ></p:commandButton>
                                </p:dialog>
                            </f:facet>
                        </p:dataTable>
                    </h:form>
                    Preço Total: #{shoppingCarView.totalPrice}€
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
