<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>General Store</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">General Store - 2016 | Contactos: 239 255 555</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/logo.png"/>
                        </a>
                    </div>

                    <h:form id="sticky" rendered="#{LoginView.userType == 'suplier'}">
                        <p:menubar>
                            <p:menuitem value="Início" outcome="index" icon="ui-icon-home" />
                            <p:menuitem value="Gerir Stock" outcome="providerIndex" icon="ui-icon-wrench" />
                            <p:menuitem value="Adicionar Produto" outcome="addProduct" icon="ui-icon-circle-plus" />
                            <p:menuitem value="Listar Vendas" outcome="viewSales" icon="ui-icon-clipboard" />
                            <f:facet name="options">
                                <p:outputLabel value="Olá, #{LoginView.getLoggedUser()}  " rendered="#{LoginView.userLoggedIn}" />
                                <p:commandButton value="Login" action="login" rendered="#{!LoginView.userLoggedIn}"/>
                                <p:commandButton value="Logout" action="#{LoginView.logout()}" rendered="#{LoginView.userLoggedIn}"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>

                    <h:form>
                        <p:commandButton value="Atualizar vendas" update="listaVendas"/>
                        <p:dataTable id="listaVendas" var="vend" value="#{ProductView.salesByProv}" editable="true" style="margin-bottom:20px">
                            <f:facet name="header">
                                Vendas
                            </f:facet>

                            <p:column headerText="Id">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{vend.saleId}" /></f:facet>
                                    <f:facet name="input"><p:inputText id="modelInput" value="" style="width:100%"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Cliente">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{vend.client}" /></f:facet>
                                    <f:facet name="input"><p:inputText value="" style="width:100%" label="Nome"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Produto">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{ProductView.prodsByProv(vend)}" /></f:facet>
                                    <f:facet name="input"><p:inputText value="" style="width:100%" label="Descrição"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
